<div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">
        <div style="float: right; margin-top:25px; position: relative; left:15% ">
           

                    <div class="wrap-pic-w">
                        <img style="width: 370px; height: 480px; overflow: hidden; float: right; " [ngStyle]="{'filter': (product.bought ? 'grayscale(100%)' : 'grayscale(0%)')}"
                            src="{{baseUrl}}{{product?.image}}" alt="IMG-PRODUCT">
                            <div  *ngIf="product?.bought" class="product-detail-name m-text16 p-b-13"  style="background-color:honeydew; float: right; padding: 10px; top: 25%; padding-left: 42.9%; padding-right: 42.9%; text-align: center; position: absolute; z-index: 1;   "> Sold</div>
                    </div>
                

        </div>

        <div class="w-size14 p-t-30 respon5">
            <h4   class="product-detail-name m-text16 p-b-13">
                {{product?.name}}
                <!--   Aqui se pondria nombreDelProducto-->
            </h4>

            <span class="m-text17"> {{product?.price}}€ <!-- Aqui se pondria precioDelProducto -->
            </span>

            <p class="s-text8 p-t-10">
                {{product?.description}}
                <!-- Aqui se pondria descripcionDelProducto -->
            </p>


            <!--  -->
            <div *ngIf="!product?.bought">
            <div class="p-t-33 p-b-60">
                <div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
                    <div *ngIf="(loginService?.isLogged && (loginService?.user.id != product?.user.id))">
                        <button (click)="buy()"   class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">Buy </button>                       
                    </div>

                    <div *ngIf="(!loginService?.isLogged)">
                        <button [routerLink]="['/Login']" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">Buy </button>                       
                    </div>

                    <div *ngIf="(loginService?.isLogged && (loginService?.user.id == product?.user.id))">
                        <button  [routerLink]="['/Product',product.id,'Sold']" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" > Mark as sold  </button>
                    </div>
                    <!--FALTA PONER CONSEGUIR USER  -->

                    <div *ngIf="((loginService?.isLogged && (loginService?.user.id == product?.user.id)) || (loginService.user?.roles=='ADMIN'))"> 
                        <br>
                        <button  (click)="delete()" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4" >Delete </button>
                    </div>
                    

                    <div *ngIf="(loginService?.isLogged && (loginService?.user.id != product?.user.id)  )">                    
                        <br>
                        <label>Propose a counteroffer:</label>
                        <br /> 
                        <input #offer id="offer" type="text" placeholder="2"/>
                        <br/><br/>
                        <button style="z-index: 1;" (click)="counteroffer()" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4"  >Counteroffer</button>
                    </div>
                    <br/>
                    <span class="s-text8 m-r-35">{{product?.tags}}</span>
                </div>
   
            </div>
            
            </div>
            <span class="product-detail-name m-text16 p-b-13" *ngIf="product?.bought">You were too slow :( </span>
            <br>
            <div *ngIf="(loginService?.isLogged  )">   
                <br>
                <br>
                <br>
            </div>

            <div *ngIf="(loginService?.isLogged && (loginService?.user.id != product?.user.id)  )">                    
                <br>
                <br>
                <br>
            </div>

            <div
                class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
                <h5
                    class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                    User: 
                    <button class="down-mark fs-12 color1 fa fa-minus dis-none"  [ngbCollapse]="!isCollapsed" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"></button> 
                   
                    <button type="button" class="up-mark fs-12 color1 fa fa-plus"  [ngbCollapse]="isCollapsed" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"></button>
                </h5>

                <div class="dropdown-content dis-none p-t-15 p-b-23" id="collapseExample" [ngbCollapse]="!isCollapsed"> 
                    
                    <a style="background-color: rgba(0, 0, 0, 0.0)" [routerLink]="['/Seller', product.user.id]" >{{product.user.name}}</a>   
                </div>
           </div>

           <div
                class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
                <h5
                    class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
                    Location: 
                    <button class="down-mark fs-12 color1 fa fa-minus dis-none" [ngbCollapse]="!isCollapsed" (click)="isCollapsedMap = !isCollapsedMap"
                    [attr.aria-expanded]="!isCollapsedMap" aria-controls="collapseExample"></button> 

                    <button type="button" class="up-mark fs-12 color1 fa fa-plus" [ngbCollapse]="isCollapsed" (click)="isCollapsedMap = !isCollapsedMap"
                    [attr.aria-expanded]="!isCollapsedMap" aria-controls="collapseExample"></button>
                </h5>

                <div class="dropdown-content dis-none p-t-15 p-b-23" id="collapseExample" [ngbCollapse]="!isCollapsedMap"> 
                    
                    <a style="background-color: rgba(0, 0, 0, 0.0)" [routerLink]="['/Seller', product.user.id]" >{{product.user.name}}</a>   
                </div>
            </div>


        </div>
    </div>
</div>