<br>
<br>

<div class="card"
		style="margin-left: 20%; margin-right: 20%; margin-top: 30px; margin-bottom: 20%">



		<table width="100%" height="700px" style="overflow: scroll">
			<tr>
				
				<td style="background-color: grey;">
					<div class="tab-content"
						style="position: relative; height: 100%; width: inherit; overflow-y: scroll; padding-top: 6px">

						<div id="home" class="container tab-pane active"
							style="width: inherit;">

							<div class="card" *ngFor="let c of chat" style="padding: 4px; margin: 5px; max-width: 100%; background-color: white " >
								<div *ngIf="c?.text != 'Could you please valorate me?'">
								<p>
									<b>{{c?.transmitter.name}} {{c.readu1}}</b> 
								</p>
								<p>
									<b>{{c?.text}}</b>
								</p>
								</div>
								<button  *ngIf="c?.text == 'Could you please valorate me?'" [routerLink]="['/User/', c?.transmitter.id , 'Valoration']"   class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">Could you please valorate me? </button>
							</div>

							

						</div>
					</div>


					<div class="card"
						style="padding: 2px; margin: 2px; width: 99%; position: absolute; bottom: 3px; right: 2px;">

					<input id="text" #text name="text" type="text" class="form-control input-md" required>
					<!--<input
								type="text"  #text class="form-control" id="text" name="text" /> -->
					<input (click)="setNewMessage()"
								id="sendMessage" type="image" alt="send"
								style="position: absolute; right: 3px; top: -1px; padding-bottom: 1px; margin-bottom: 1px; margin-top: 6px;"
								width="30" height="30"
								src="{{baseUrl}}/images/icons/arrow-alt-from-left.svg" />
					</div>
				</td>
			</tr>

		</table>
    </div>