<br>
<br>
<br>
<br>

<div class="card" class="col-lg-6"
		style="width: 70%; margin: auto; text-align: center; margin-top: 20px; margin-bottom: 100px;">

		<div class="card"
			style="background-image: url(/images/intersection.png); background-repeat: repeat;">
		
			<form >
					<br>
				<!-- Text input-->
				<div class="form-group" enctype="multipart/form-data">
					<label class="form-control-label" for="name">Name of the product</label>
					<div class="col-lg-3" style="margin: auto;">
						<input #name id="name" name="name" type="text" placeholder="Name"
							class="form-control input-md">
					</div>
				</div>
				<!-- Text input-->
				<div class="form-group">
					<label class="form-control-label" for="name">Description</label>
					<div class="col-lg-3" style="margin: auto;">
						<input #description id="description" name="description" type="text"
							placeholder="New, i just bought it" class="form-control input-md">
					</div>
				</div>
				<!-- Text input-->
				<div class="form-group">
					<label class="form-control-label" for="name">Tags</label>
					<div class="col-lg-3" style="margin: auto;">
						<input #tags id="tags" name="tags" type="text"
							placeholder="Car, Honda, New,..." class="form-control input-md">
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-5 form-control-label" for="Price">Minimun
						price you could accept</label>
					<div class="col-lg-1" style="margin: auto;">
						<input id="minPrice" #minPrice name="minPrice" type="text" placeholder="25€"
							class="form-control input-md" required>
					</div>
				</div>

				

				<!-- Text input-->
				<div class="form-group">
					<label class="col-lg-5 form-control-label" for="Price">price</label>
					<div class="col-lg-1" style="margin: auto;">
						<input id="Price" #price name="Price" type="text" placeholder=""
							class="form-control input-md" required>
					</div>
				</div>
				<!-- File Button -->
				<div class="form-group">
					<label class="form-control-label" for="Profile picture">Product
						image</label>
					<div>
							<input type="file" (change)="loadImageData($event.target.files[0])"/>
					</div>
				</div>

				<input	type='submit' (click)="uploadProduct()" value="Subir Producto"
					class=" bg1 bo-rad-23 hov1 s-text1"
					style="padding: 10px; margin-bottom: 20px; max-width: 250px;" />

			</form>
		</div>

	</div>