<div onload="getLocation()" style="margin-top: 15%; margin-bottom: 15%">
    <section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
    [ngStyle]="{'background': 'url(https://localhost:8443/images/background_slim.jpg) '}">
       
        <form >

            <div class="form-group">
                <label class="form-control-label" for="name">User</label>
                <div>
                    <input #username type="text" name="name" id="name" placeholder="name" placeholder="Name" class="form-control input-md">                    
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="Password">Password</label>
                <div>
                    <input  #password name="password" id="password" type="text"
                        placeholder="*********" class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="Email">Email</label>
                <div>
                    <input #email name="email" id="email" type="Email"
                        placeholder="example@gmail.com" class="form-control input-md">
                </div>
            </div>

            <div class="form-group">
					<label class="form-control-label" for="Profile picture">Product
						image</label>
					<div>
							<input type="file" (change)="loadImageData($event.target.files[0])"/>
					</div>
				</div>
    
            <div class="w-size2 p-t-25">                
             
                <input
                    type='submit'  (click)="registerUser()" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4"
                    value='Register' />
            </div>
        </form>
        
    </section>

</div>