{{>header}}
	<!-- Title Page -->
	<div style="margin-top: 15%; margin-bottom: 15%">
		<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
			style="background-image: url(images/background%20slim.jpg);">

			<!-- Text input-->
			<form action="new" enctype="multipart/form-data" method="post">
				<!-- Text input-->
				<div class="form-group">
					<label class="form-control-label" for="name">User</label>
					<div>
						<input id="name" name="name" type="text" placeholder="User"
							class="form-control input-md">
					</div>
				</div>
				<!-- Password input-->
				<div class="form-group">
					<label class="form-control-label" for="Password">Password</label>
					<div>
						<input id="Contrase&#xF1;a" name="passwordHash" type="password"
							placeholder="*********" class="form-control input-md">
					</div>
				</div>
				<!-- Email input -->
				<div class="form-group">
					<label class="form-control-label" for="Email">Email</label>
					<div>
						<input id="Contrase&#xF1;a" name="email" type="Email"
							placeholder="example@gmail.com" class="form-control input-md">
					</div>
				</div>

				<!-- Profile picture input-->
				<div class="form-group">
					<label class="form-control-label" for="Profile picture">Profile
						Image</label>
					<div>
						<input type="file" name="file" value="Send">
					</div>
				</div>
				<input type="hidden" id="location-long" name="LocationY"
					class="form-control input-md"> <input type="hidden"
					id="location-lat" name="LocationX" class="form-control input-md">


				<!-- Button -->
				<div class="w-size2 p-t-25">
					<!-- 
                <a href="index.html" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                    Register
                </a>
                 -->
					<input type="hidden" name="_csrf" value="{{token}}" /> <input
						type='submit'
						class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4"
						value='Register' />
				</div>
			</form>
			<script>
				function getLocation() {

					if (navigator.geolocation) {

						var nav = navigator.geolocation
								.getCurrentPosition(showPosition);

					}
				}

				function showPosition(pos) {
					var locationLong = document.getElementById("location-long");
					var locationLat = document.getElementById("location-lat");
					locationLong.value = pos.coords.longitude;
					locationLat.value = pos.coords.latitude;
				}
			</script>
		</section>

	</div>

	<!-- content page -->




{{>footer}}