<br/>
<div style="margin-top: 5%; margin-bottom: 15%;" class="container">
    <div class="row">
        <div class="col col-md-auto">
            <img style="max-width: 250px;" src="https://localhost:8443{{product?.image}}"
                alt="IMG-PRODUCT">
        </div>
        <div class="col ">
            <h1>Congrats for selling {{product?.name}}</h1>
            <br>
            <h4>Who is its actual owner?</h4>
            <br>
                
                <select [(ngModel)]="selectedUser" style="margin-left: 15px;" id="id" name="id">
                    
                  <option *ngFor="let bu of buyers"  [ngValue]="bu.user">{{bu.user.name}}</option> 

                </select> <br> <br>
                <button   class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4"
                    style="width: 250px" (click)="sendSeller()" > Select </button>

            
        </div>
    </div>