<br>
<br>
<br>
<br>

<div class="card" class="col-lg-6"
		style="width: 70%; margin: auto; text-align: center; margin-top: 20px; margin-bottom: 100px;">

		<div class="card" [ngStyle]="{'background':  'url(https://localhost:8443/images/intersection.png) '}">
		
			<form >
                    <br>
                <label class="form-control-label" for="name">Valoration</label>
                <select #valoration style="margin-left: 15px;" id="id" name="id">
                
                    <option value="1">1</option> 
                    <option value="2">2</option> 
                    <option value="3">3</option> 
                    <option value="4">4</option> 
                    <option value="5">5</option> 
                </select>
                
				<!-- Text input-->
				<div class="form-group">
					<label class="form-control-label" for="name">Description</label>
					<div class="col-lg-3" style="margin: auto;">
						<input #description id="description" name="description" type="text"
							placeholder="New, i just bought it" class="form-control input-md">
					</div>
				</div>

				<input	type='submit' (click)="uploadValoration()" value="Upload Valoration"
					class=" bg1 bo-rad-23 hov1 s-text1"
					style="padding: 10px; margin-bottom: 20px; max-width: 250px;" />

			</form>
		</div>

	</div>
